services:
  # Loki is a horizontally scalable, highly available, multi-tenant log aggregation system inspired
  # by Prometheus. It is designed to be very cost effective and easy to operate. It does not index
  # the contents of the logs, but rather a set of labels for each log stream.
  #
  # https://github.com/grafana/loki
  loki:
    labels:
      metrics.grafana.com/scrape: false
    depends_on: {minio: {condition: service_healthy}}
    image: ${LOKI_IMAGE:-docker.io/grafana/loki:3.6.7}
    configs:
      - source: loki_config_file
        target: /etc/loki/config.yaml
    volumes:
      - ../config/loki:/etc/loki/configs
    command:
      - -config.file=/etc/loki/config.yaml
      - -target=all
      - -config.expand-env=true
    # expose 33100 port so we can directly access loki inside container
    ports:
      - "33100:3100"
    networks:
      default:
        aliases:
          - loki-memberlist
