services:
  # Mimir lets you scale metrics to 1 billion active series and beyond, with high availability, multi-
  # tenancy, durable storage, and blazing fast query performance over long periods of time.
  #
  # https://github.com/grafana/mimir
  mimir:
    labels:
      metrics.grafana.com/scrape: false
    depends_on: {minio: {condition: service_healthy}}
    image: ${MIMIR_IMAGE:-docker.io/grafana/mimir:3.0.1}
    configs:
      - source: mimir_config_file
        target: /etc/mimir/config.yaml
    volumes:
      - ../config/mimir:/etc/mimir/configs
    command:
      - -config.file=/etc/mimir/config.yaml
      - -target=all
      - -config.expand-env=true
    # expose 38080 port so we can directly access mimir inside container
    ports:
      - "38080:8080"
    networks:
      default:
        aliases:
          - mimir-memberlist

  mimirtool:
    labels:
      metrics.grafana.com/scrape: false
    image: ${MIMIRTOOL_IMAGE:-docker.io/grafana/mimirtool:3.0.1}
    volumes:
      - ../../../monitoring-mixins/alloy-mixin/deploy/alloy-mixin-alerts.yaml:/rules/alloy-mixin-alerts.yaml
      - ../../../monitoring-mixins/memcached-mixin/deploy/memcached-mixin-alerts.yaml:/rules/memcached-mixin-alerts.yaml
    environment:
      - MIMIR_ADDRESS=http://gateway:8080
      - MIMIR_TENANT_ID=anonymous
    entrypoint: mimirtool rules sync --rule-dirs=/rules/
    deploy:
      restart_policy:
        condition: any # Always restart the container under any circumstances
      update_config:
        delay: 3600s # The delay time for service update is 1 hour
