analytics:
  reporting_enabled: false

# https://grafana.com/docs/pyroscope/latest/configure-server/reference-configuration-parameters/#use-environment-variables-in-the-configuration
storage:
  backend: s3
  s3:
    bucket_name: pyroscope-data
    # endpoint: ${PYROSCOPE_STORAGE_S3_ENDPOINT:minio:9000}
    # access_key_id: ${PYROSCOPE_STORAGE_S3_ACCESS_KEY_ID:lgtmp}
    # secret_access_key: ${PYROSCOPE_STORAGE_S3_SECRET_ACCESS_KEY:supersecret}
    # insecure: ${PYROSCOPE_STORAGE_S3_INSECURE:true}
    endpoint: minio:9000
    access_key_id: lgtmp
    secret_access_key: supersecret
    insecure: true
    http:
      insecure_skip_verify: true
