# For more information on this configuration, see the complete reference guide at
# https://grafana.com/docs/tempo/latest/configuration/

stream_over_http_enabled: true

multitenancy_enabled: false
usage_report:
  reporting_enabled: false

compactor:
  ring:
    kvstore:
      store: memberlist
  compaction:
    block_retention: 1h

distributor:
  receivers:
    otlp:
      protocols:
        http:
        grpc:

ingester:
  trace_idle_period: 10s
  max_block_bytes: 1_000_000
  max_block_duration: 5m

memberlist:
  join_members:
  - tempo-memberlist:7946

querier:
  frontend_worker:
    frontend_address: query-frontend:9095

metrics_generator:
  processor:
    span_metrics:
      # Configure extra dimensions to add as metric labels.
      dimensions:
      - http.method
      - http.target
      - http.status_code
      - service.version
    # Service graph metrics create node and edge metrics for determinng service interactions.
    service_graphs:
      # Configure extra dimensions to add as metric labels.
      dimensions:
      - http.method
      - http.target
      - http.status_code
      - service.version
  storage:
    path: /tmp/tempo/generator/wal
    remote_write_add_org_id_header: true
    remote_write:
    - url: http://gateway:8080/api/v1/push
      send_exemplars: true
      send_native_histograms: true
      headers:
        X-Scope-OrgID: "anonymous"

server:
  http_listen_port: 3100
  grpc_listen_port: 9095


storage:
  trace:
    backend: s3
    wal:
      path: /tmp/tempo/wal
    s3:
      bucket: tempo-data
      endpoint: ${TEMPO_S3_ENDPOINT:-minio:9000}
      access_key: ${TEMPO_S3_ACCESS_KEY:-lgtmp}
      secret_key: ${TEMPO_S3_SECRET_KEY:-supersecret}
      insecure: ${TEMPO_S3_INSECURE:-true}
      tls_insecure_skip_verify: true

# Global override configuration.
overrides:
  defaults:
    metrics_generator:
      processors:
      - service-graphs
      - span-metrics
