version: '3.9'

# Note: 
# include is available in Docker Compose version 2.20 and later, and Docker Desktop version 4.22 and later.
include:
  - path: ../../common/compose-include/minio.yaml
  - path: ../../common/compose-include/agent-collect-traces.yaml

# Microservices mode (Traces)
services:
  gateway:
    depends_on:
      distributor:
        condition: service_healthy
    image: nginxinc/nginx-unprivileged:1.25-alpine
    restart: always
    volumes:
      - ../../common/config/nginx:/etc/nginx/templates
      - ../../common/config/tempo/gateway_tempo.conf.template:/etc/nginx/templates/gateway_tempo.conf.template
    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx
      - DISTRIBUTOR_HOST=distributor
      - INGESTER_HOST=ingester
      - QUERY_FRONTEND_HOST=query-frontend
      - COMPACTOR_HOST=compactor
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3200/ || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "3200"
      - "4317"

  distributor:
    depends_on:
      ingester:
        condition: service_started
    image: &tempoImage grafana/tempo:2.2.3
    volumes:
      - ../../common/config/tempo/microservices-mode-traces.yaml:/etc/tempo.yaml # Note: Tempo use microservices-mode-traces.yaml
    command:
      - -config.file=/etc/tempo.yaml
      - -target=distributor
      # - -log.level=warn
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3200/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5

  ingester:
    depends_on:
      minio:
        condition: service_healthy
    image: *tempoImage
    volumes:
      - ../../common/config/tempo/microservices-mode-traces.yaml:/etc/tempo.yaml # Note: Tempo use microservices-mode-traces.yaml
    ports:
      - "3200"
    command:
      - -config.file=/etc/tempo.yaml
      - -target=ingester
      - -log.level=warn
    deploy:
      replicas: 3
    networks:
      default:
        aliases:
          - tempo-memberlist

  query-frontend:
    depends_on:
      minio:
        condition: service_healthy
    image: *tempoImage
    volumes:
      - ../../common/config/tempo/microservices-mode-traces.yaml:/etc/tempo.yaml # Note: Tempo use microservices-mode-traces.yaml
    command:
      - -config.file=/etc/tempo.yaml
      - -target=query-frontend
      - -log.level=warn

  querier:
    depends_on:
      minio:
        condition: service_healthy
      query-frontend:
        condition: service_started
    image: *tempoImage
    volumes:
      - ../../common/config/tempo/microservices-mode-traces.yaml:/etc/tempo.yaml # Note: Tempo use microservices-mode-traces.yaml
    command:
      - -config.file=/etc/tempo.yaml
      - -target=querier
      - -log.level=warn

  compactor:
    depends_on:
      minio:
        condition: service_healthy
    image: *tempoImage
    volumes:
      - ../../common/config/tempo/microservices-mode-traces.yaml:/etc/tempo.yaml # Note: Tempo use microservices-mode-traces.yaml
    command:
      - -config.file=/etc/tempo.yaml
      - -target=compactor
      - -log.level=error

  grafana:
    depends_on:
      agent:
        condition: service_started
    image: grafana/grafana:10.2.0
    command:
      - --config=/etc/grafana-config/grafana.ini
    volumes:
      - ../../common/config/grafana/grafana.ini:/etc/grafana-config/grafana.ini
      - ../../common/config/grafana/dashboards:/var/lib/grafana/dashboards
      - ../../common/config/grafana/provisioning:/etc/grafana/provisioning
      - ../../common/config/tempo/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml # load datasources
    environment:
      - GF_LOG_LEVEL=error
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin_password}
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
      # - GF_TRACING_OPENTELEMETRY_OTLP_ADDRESS=agent:4317
      # - GF_TRACING_OPENTELEMETRY_CUSTOM_ATTRIBUTES=cluster:docker-compose,namespace:monitoring
    ports:
      - "3000:3000"
