# For more information on this configuration, see the complete reference guide at
# https://grafana.com/docs/tempo/latest/configuration/

stream_over_http_enabled: true

multitenancy_enabled: false
usage_report:
  reporting_enabled: false

compactor:
  compaction:
    block_retention: 1h
  ring:
    kvstore:
      store: memberlist

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  ring:
    kvstore:
      store: memberlist

ingester:
  trace_idle_period: 10s
  max_block_bytes: 1_000_000
  max_block_duration: 5m
  lifecycler:
    ring:
      kvstore:
        store: memberlist
      replication_factor: 1
    tokens_file_path: /var/tempo/tokens.json

memberlist:
  abort_if_cluster_join_fails: false
  join_members:
  - dns+tempo-distributed-gossip-ring:7946

querier:
  frontend_worker:
    frontend_address: tempo-distributed-query-frontend-discovery:9095

metrics_generator:
  processor:
    span_metrics:
      # Configure extra dimensions to add as metric labels.
      dimensions:
      - http.method
      - http.target
      - http.status_code
      - service.version
    # Service graph metrics create node and edge metrics for determinng service interactions.
    service_graphs:
      # Configure extra dimensions to add as metric labels.
      dimensions:
      - http.method
      - http.target
      - http.status_code
      - service.version
  storage:
    path: /var/tempo/generator/wal
    remote_write_add_org_id_header: true
    remote_write:
    - url: http://nginx.gateway.svc.cluster.local:8080/api/v1/push
      send_exemplars: true
      send_native_histograms: true
      headers:
        X-Scope-OrgID: "anonymous"

server:
  http_listen_port: 3100
  grpc_listen_port: 9095

storage:
  trace:
    backend: s3
    wal:
      path: /var/tempo/wal
    s3:
      bucket: tempo-data
      endpoint: ${TEMPO_S3_ENDPOINT:-minio.minio-system.svc:443}
      access_key: ${TEMPO_S3_ACCESS_KEY:-lgtmp}
      secret_key: ${TEMPO_S3_SECRET_KEY:-supersecret}
      insecure: ${TEMPO_S3_INSECURE:-false}
      tls_insecure_skip_verify: true

overrides:
  per_tenant_override_config: /runtime-config/overrides.yaml
  defaults:
    metrics_generator:
      processors:
      - service-graphs
      - span-metrics
