# Do not use this configuration in production.
# It is for demonstration purposes only.
multitenancy_enabled: true

usage_stats:
  enabled: false

activity_tracker:
  filepath: /active-query-tracker/activity.log

alertmanager:
  data_dir: /data
  enable_api: true
  external_url: /alertmanager
  fallback_config_file: /configs/alertmanager_fallback_config.yaml
alertmanager_storage:
  backend: s3
  s3:
    bucket_name: mimir-alertmanager

blocks_storage:
  backend: s3
  s3:
    bucket_name: mimir-blocks
  tsdb:
    dir: /data/tsdb
    head_compaction_interval: 15m
    wal_replay_concurrency: 3
  bucket_store:
    sync_dir: /data/tsdb-sync
    index_cache:
      backend: memcached
      memcached:
        addresses: dnssrvnoa+memcached.memcached-system.svc.cluster.local.:11211

    chunks_cache:
      backend: memcached
      memcached:
        addresses: dnssrvnoa+memcached.memcached-system.svc.cluster.local.:11211

    metadata_cache:
      backend: memcached
      memcached:
        addresses: dnssrvnoa+memcached.memcached-system.svc.cluster.local.:11211

common:
  storage:
    backend: s3
    s3:
      endpoint:          ${MIMIR_S3_ENDPOINT:minio.minio-system.svc.cluster.local:443}
      access_key_id:     ${MIMIR_S3_ACCESS_KEY_ID:lgtmp}
      secret_access_key: ${MIMIR_S3_SECRET_ACCESS_KEY:supersecret}
      insecure:          ${MIMIR_S3_INSECURE:false}
      http:
        insecure_skip_verify: true

compactor:
  compaction_interval: 30m
  data_dir: /data
  deletion_delay: 2h
  first_level_compaction_wait_period: 25m
  max_closing_blocks_concurrency: 2
  max_opening_blocks_concurrency: 4
  sharding_ring:
    wait_stability_min_duration: 1m
  symbols_flushers_concurrency: 4

distributor:
  remote_timeout: 5s

frontend:
  parallelize_shardable_queries: true
  scheduler_address: mimir-distributed-query-scheduler-headless.monitoring-system.svc:9095
  query_sharding_target_series_per_shard: 2500
  cache_results: true
  results_cache:
    backend: memcached
    memcached:
      addresses: dnssrvnoa+memcached.memcached-system.svc.cluster.local.:11211

frontend_worker:
  grpc_client_config:
    max_send_msg_size: 419430400
  scheduler_address: mimir-distributed-query-scheduler-headless.monitoring-system.svc:9095

ingest_storage:
  enabled: false
  kafka:
    auto_create_topic_default_partitions: 100
    auto_create_topic_enabled: true
    topic: mimir-ingest

ingester:
  push_grpc_method_enabled: true
  ring:
    final_sleep: 0s
    heartbeat_period: 2m
    heartbeat_timeout: 10m
    num_tokens: 512
    tokens_file_path: /data/tokens
    unregister_on_shutdown: false
ingester_client:
  grpc_client_config:
    max_recv_msg_size: 104857600
    max_send_msg_size: 104857600

limits:
  max_cache_freshness: 10m
  max_query_parallelism: 240
  max_total_query_length: 12000h
  ingestion_rate: 100000

memberlist:
  abort_if_cluster_join_fails: false
  compression_enabled: false
  join_members:
  - dns+mimir-distributed-gossip-ring.monitoring-system.svc.cluster.local.:7946

querier:
  max_concurrent: 16

query_scheduler:
  max_outstanding_requests_per_tenant: 800

ruler:
  alertmanager_url: dnssrvnoa+http://_http-metrics._tcp.mimir-distributed-alertmanager-headless.monitoring-system.svc.cluster.local./alertmanager
  enable_api: true
  rule_path: /data
ruler_storage:
  backend: s3
  s3:
    bucket_name: mimir-ruler
  cache:
    backend: memcached
    memcached:
      addresses: dnssrvnoa+memcached.memcached-system.svc.cluster.local.:11211

runtime_config:
  file: /var/mimir/runtime.yaml

server:
  grpc_server_max_concurrent_streams: 1000
  grpc_server_max_connection_age: 2m
  grpc_server_max_connection_age_grace: 5m
  grpc_server_max_connection_idle: 1m
  http_listen_port: 8080
  grpc_listen_port: 9095
  trace_request_headers: true

store_gateway:
  sharding_ring:
    heartbeat_period: 1m
    heartbeat_timeout: 10m
    tokens_file_path: /data/tokens
    unregister_on_shutdown: false
    wait_stability_min_duration: 1m
