apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: prometheus-node-exporter
  repo: https://prometheus-community.github.io/helm-charts
  version: 4.49.2
  releaseName: prometheus-node-exporter
  namespace: monitoring-system
  includeCRDs: false
  valuesFile: values-k3d-k3s.yaml
