---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: gateway
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      # Since kubernetes version 1.9 and forth, volumeMounts behavior on secret, configMap, downwardAPI and projected have changed to Read-Only by default.
      # A workaround to the problem is to create an emtpyDir volume and copy the contents into it and execute
      initContainers:
      - name: fix-perms
        image: registry.k8s.io/busybox
        command: ['sh', '-c', "cp /configmap/* /docker-entrypoint.d/"]
        volumeMounts:
        - name: configmap-scripts
          mountPath: /configmap
        - name: entrypoint-scripts
          mountPath: /docker-entrypoint.d
      containers:
      - name: nginx
        image: nginx
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
          limits:
            cpu: 999m
            memory: 1Gi
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: nginx-env
            optional: true
        ports:
        - name: http-mimir
          containerPort: 8080
        - name: http-loki
          containerPort: 3100
        - name: http-pyroscope
          containerPort: 4040
        - name: http-tempo
          containerPort: 3200
        - name: grpc-otlp-tempo
          containerPort: 4317
        - name: http-otlp-tempo
          containerPort: 4318
        volumeMounts:
        - name: templates
          mountPath: /etc/nginx/templates
        - name: entrypoint-scripts
          mountPath: /docker-entrypoint.d
      terminationGracePeriodSeconds: 30
      volumes:
      - name: templates
        projected:
          sources:
          - configMap:
              name: nginx-conf
          - configMap:
              name: nginx-templates
      - name: entrypoint-scripts
        emptyDir: {}
      - name: configmap-scripts
        # https://kubernetes.io/docs/concepts/storage/volumes/#configmap
        # A ConfigMap is always mounted as readOnly
        configMap:
          name: nginx-entrypoint-scripts
          defaultMode: 0777