# ============================================================================ #
#                  Read-Write Mode - Metrics
# ============================================================================ #

# ----------------------------------------------------
# apiVersion and kind of Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Notice: Read-Write deployment mode is experimental.
# https://grafana.com/docs/mimir/latest/references/architecture/deployment-modes/#read-write-mode

resources:
- ../../common/alloy
- ../../common/alloy/configs/kubernetes/integrations
- mimir

configMapGenerator:
- name: alloy-config
  namespace: monitoring-system
  behavior: replace
  files:
  - config.alloy=metrics.alloy

# Update Mimir Read-Write Mode endpoint in gateway
- name: nginx-env
  namespace: gateway
  options:
    disableNameSuffixHash: true
  literals:
  - MIMIR_DISTRIBUTOR_HOST=mimir-write.monitoring-system.svc.cluster.local
  - MIMIR_QUERY_FRONTEND_HOST=mimir-read.monitoring-system.svc.cluster.local
  - MIMIR_ALERT_MANAGER_HOST=mimir-backend.monitoring-system.svc.cluster.local
  - MIMIR_RULER_HOST=mimir-backend.monitoring-system.svc.cluster.local
  - MIMIR_COMPACTOR_HOST=mimir-backend.monitoring-system.svc.cluster.local
