# ============================================================================ #
#                  Monolithic Mode - Traces
# ============================================================================ #

# ----------------------------------------------------
# apiVersion and kind of Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../common/alloy
- tempo

# optional
- ../metrics/mimir
- ../logs/loki

secretGenerator:
- name: alloy-env
  namespace: monitoring-system
  literals:
  - ALLOY_LOG_LEVEL=info
- name: mimir-env
  behavior: merge
  literals:
  - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy.monitoring-system.svc.cluster.local:4318
- name: loki-env
  behavior: merge
  literals:
  - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy.monitoring-system.svc.cluster.local:4318

configMapGenerator:
- name: alloy-config
  namespace: monitoring-system
  behavior: replace
  files:
  - config.alloy=traces.alloy

# Update Tempo Monolithic Mode endpoint in gateway
- name: nginx-templates
  namespace: gateway
  options:
    disableNameSuffixHash: true
  files:
  - gateway_tempo.conf.template=configs/gateway_tempo.conf
  - gateway_mimir.conf.template=configs/gateway_mimir.conf
  - gateway_loki.conf.template=configs/gateway_loki.conf
