# ============================================================================ #
#                  Microservices Mode - Metrics
# ============================================================================ #

# ----------------------------------------------------
# apiVersion and kind of Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../common/alloy
- ../../common/alloy/configs/kubernetes/integrations
- mimir-distributed

images:
- name: grafana/mimir
  newTag: 2.12.0

configMapGenerator:
- name: alloy-config
  namespace: monitoring-system
  behavior: replace
  files:
  - config.alloy=metrics.alloy

# Update Mimir Microservices Mode endpoint in gateway
- name: nginx-env
  namespace: gateway
  options:
    disableNameSuffixHash: true
  literals:
  - MIMIR_DISTRIBUTOR_HOST=mimir-distributed-distributor-headless.monitoring-system.svc.cluster.local
  - MIMIR_QUERY_FRONTEND_HOST=mimir-distributed-query-frontend.monitoring-system.svc.cluster.local
  - MIMIR_ALERT_MANAGER_HOST=mimir-distributed-alertmanager-headless.monitoring-system.svc.cluster.local
  - MIMIR_RULER_HOST=mimir-distributed-ruler.monitoring-system.svc.cluster.local
  - MIMIR_COMPACTOR_HOST=mimir-distributed-compactor.monitoring-system.svc.cluster.local
