apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring-system

helmCharts:
- name: alloy
  repo: https://grafana.github.io/helm-charts
  version: 1.5.0
  releaseName: alloy
  namespace: monitoring-system
  includeCRDs: false
  valuesFile: values-k3d-k3s.yaml

resources:
- configs/route-alloy.yaml
- configs/kubernetes/integrations
- ../../../monitoring-mixins/alloy-mixin/deploy

configMapGenerator:
- name: alloy-config
  namespace: monitoring-system
  files:
  - configs/config.alloy
# Alloy Modules local config files
- name: alloy-modules-receiver-provider
  namespace: monitoring-system
  files:
  - configs/provider/grafana_cloud.alloy
  - configs/provider/self_hosted.alloy
- name: alloy-modules-kubernetes-metrics
  namespace: monitoring-system
  files:
  - configs/kubernetes/metrics/annotations-scrape.alloy
  - configs/kubernetes/metrics/podmonitors-scrape.alloy
  - configs/kubernetes/metrics/rules-to-mimir.alloy
  - configs/kubernetes/metrics/servicemonitors-scrape.alloy
- name: alloy-modules-kubernetes-logs
  namespace: monitoring-system
  files:
  - configs/kubernetes/logs/annotations-scrape.alloy
  - configs/kubernetes/logs/k8s-events.alloy
  - configs/kubernetes/logs/keep-labels.alloy
  - configs/kubernetes/logs/rules-to-loki.alloy
- name: alloy-modules-kubernetes-traces
  namespace: monitoring-system
  files:
  - configs/kubernetes/traces/process-and-transform.alloy
- name: alloy-modules-kubernetes-profiles
  namespace: monitoring-system
  files:
  - configs/kubernetes/profiles/annotations-scrape.alloy
- name: alloy-modules-kubernetes-jobs
  namespace: monitoring-system
  files:
  - configs/kubernetes/jobs/apiserver.alloy
  - configs/kubernetes/jobs/kube-state-metrics.alloy
  - configs/kubernetes/jobs/kubelet.alloy
  - configs/kubernetes/jobs/node-exporter.alloy
