apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: opencost
  repo: https://opencost.github.io/opencost-helm-chart
  version: 2.4.1
  releaseName: opencost
  namespace: monitoring-system
  includeCRDs: false
  valuesFile: values-k3d-k3s.yaml
