crds:
  enabled: false

alertmanager:
  enabled: false

prometheusOperator:
  enabled: true
  admissionWebhooks:
    certManager:
      enabled: true
      issuerRef:
        name: selfsigned-root
        kind: ClusterIssuer

prometheus:
  enabled: true
  route:
    main:
      enabled: true
      apiVersion: gateway.networking.k8s.io/v1
      kind: HTTPRoute
      parentRefs:
      - name: traefik-gateway
        namespace: kube-system
      hostnames:
      - prometheus.docker.localhost
      matches:
      - path:
          type: PathPrefix
          value: /
      

grafana:
  enabled: false
  forceDeployDashboards: true
  defaultDashboardsTimezone: browser
  sidecar:
    dashboards:
      enableNewTablePanelSyntax: true
      annotations:
        grafana_dashboard_folder: "/dashboards/Kubernetes"
      multicluster:
        global:
          enabled: true
        etcd:
          enabled: true

nodeExporter:
  enabled: true
  operatingSystems:
    darwin:
      enabled: false

kubernetesServiceMonitors:
  enabled: false

kubeApiServer:
  enabled: true

## Component scraping the kubelet and kubelet-hosted cAdvisor
##
kubelet:
  enabled: false
  namespace: kube-system

kubeControllerManager:
  enabled: true

coreDns:
  enabled: true

kubeDns:
  enabled: false

kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: true

kubeProxy:
  enabled: true

kubeStateMetrics:
  enabled: false
