apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring-system

helmCharts:
- name: cert-exporter
  repo: https://joe-elliott.github.io/cert-exporter
  version: 3.14.0
  releaseName: cert-exporter
  namespace: monitoring-system
  includeCRDs: false
  valuesFile: values-k3d-k3s.yaml
