# https://docs.k3s.io/add-ons/helm#customizing-packaged-components-with-helmchartconfig
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    providers:
      kubernetesIngress:
        enabled: false
      kubernetesGateway:
        enabled: true
    ingressClass:
      enabled: false
    gateway:
      annotations:
        cert-manager.io/cluster-issuer: "selfsigned-root"
      listeners:
        web:
          port: 8000
          protocol: HTTP
          namespacePolicy:
            from: All
        websecure:
          port: 8443
          hostname: "*.docker.localhost"
          protocol: HTTPS
          namespacePolicy:
            from: All
          certificateRefs:
            - name: docker-localhost-tls
              kind: Secret
              group: ""
              namespace: kube-system
          mode: Terminate
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.docker.localhost`)
        entryPoints:
          - websecure
