apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
- name: kube-state-metrics
  repo: https://prometheus-community.github.io/helm-charts
  version: 6.4.2
  releaseName: kube-state-metrics
  namespace: monitoring-system
  includeCRDs: false
  valuesFile: values-k3d-k3s.yaml
