operator:
  env:
  - name: OPERATOR_STS_ENABLED
    value: "on"
  - name: OPERATOR_STS_AUTO_TLS_ENABLED
    value: "off"
  - name: PROMETHEUS_NAMESPACE
    value: "monitoring-system"
  # - name: PROMETHEUS_NAME
  #   value: "kube-prometheus-stack-prometheus"
  replicaCount: 1
  resources:
    requests:
      cpu: 10m
      memory: 55Mi
      ephemeral-storage: 128Mi
    limits:
      cpu: 999m
      memory: 1Gi
