apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: cert-exporter
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: cert-exporter
    app.kubernetes.io/version: v2.17.0
    helm.sh/chart: cert-exporter-3.14.0
  name: cert-exporter
  namespace: monitoring-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: cert-exporter
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: cert-exporter
    app.kubernetes.io/version: v2.17.0
    helm.sh/chart: cert-exporter-3.14.0
  name: cert-exporter
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/instance: cert-exporter
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: cert-exporter
    app.kubernetes.io/version: v2.17.0
    helm.sh/chart: cert-exporter-3.14.0
  name: cert-exporter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cert-exporter
subjects:
- kind: ServiceAccount
  name: cert-exporter
  namespace: monitoring-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: cert-exporter
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: cert-exporter
    app.kubernetes.io/version: v2.17.0
    cert-exporter.io/type: deployment
    helm.sh/chart: cert-exporter-3.14.0
  name: cert-exporter
  namespace: monitoring-system
spec:
  ports:
  - name: http-metrics
    port: 8080
    targetPort: 8080
  selector:
    app.kubernetes.io/instance: cert-exporter
    app.kubernetes.io/name: cert-exporter
    cert-exporter.io/type: deployment
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: cert-exporter
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: cert-exporter
    app.kubernetes.io/version: v2.17.0
    cert-exporter.io/type: deployment
    helm.sh/chart: cert-exporter-3.14.0
  name: cert-exporter-cert-manager
  namespace: monitoring-system
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/instance: cert-exporter
      app.kubernetes.io/name: cert-exporter
      cert-exporter.io/type: deployment
  template:
    metadata:
      annotations:
        logs.grafana.com/scrape: "true"
      labels:
        app.kubernetes.io/instance: cert-exporter
        app.kubernetes.io/name: cert-exporter
        cert-exporter.io/type: deployment
    spec:
      containers:
      - args:
        - --secrets-annotation-selector=cert-manager.io/certificate-name
        - --secrets-include-glob=*.crt
        - --logtostderr
        command:
        - ./app
        image: joeelliott/cert-exporter:v2.17.0
        imagePullPolicy: IfNotPresent
        livenessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        name: cert-exporter
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 1
          httpGet:
            path: /metrics
            port: 8080
          periodSeconds: 10
        resources: {}
        securityContext: {}
        volumeMounts: []
      securityContext: {}
      serviceAccountName: cert-exporter
      volumes: []
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/instance: cert-exporter
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: cert-exporter
    app.kubernetes.io/version: v2.17.0
    cert-exporter.io/type: deployment
    helm.sh/chart: cert-exporter-3.14.0
    prometheus.io/load-rule: "true"
  name: cert-exporter-cert-manager
  namespace: monitoring-system
spec:
  endpoints:
  - interval: 15s
    port: http-metrics
  jobLabel: jobLabel
  namespaceSelector:
    matchNames:
    - monitoring-system
  selector:
    matchLabels:
      app.kubernetes.io/instance: cert-exporter
      app.kubernetes.io/name: cert-exporter
      cert-exporter.io/type: deployment
