testFramework:
  enabled: false

# Use an existing secret for the admin user.
admin:
  existingSecret: "grafana-secret"
  userKey: admin-user
  passwordKey: admin-password

envFromSecrets:
- name: grafana-env
  optional: true

podAnnotations:
  logs.grafana.com/scrape: "true"
  logs.grafana.com/scrub-level: "debug" # Boolean whether or not the level should be dropped from the log message (as it is a label).

service:
  portName: http-metrics

serviceMonitor:
  enabled: true
  interval: 15s
  scrapeTimeout: 10s
  relabelings:
  - sourceLabels:
    - job
    targetLabel: job
    replacement: monitoring-system/grafana

route:
  main:
    enabled: true
    apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    hostnames:
    - grafana.docker.localhost
    - localhost
    parentRefs:
    - name: traefik-gateway
      namespace: kube-system
    matches:
    - path:
        type: PathPrefix
        value: /

resources:
  limits:
    cpu: 250m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

# Enable creating the grafana configmap
createConfigmap: false

## Sidecars that collect the configmaps with specified label and stores the included files them into the respective folders
## Requires at least Grafana 5 to work and can't be used together with parameters dashboardProviders, datasources and dashboards
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    folder: /dashboards
    searchNamespace: ALL
    folderAnnotation: grafana_dashboard_folder
    provider:
      name: sidecarProvider
      orgid: 1
      type: file
      disableDelete: false
      allowUiUpdates: false
      foldersFromFilesStructure: true
  datasources:
    enabled: true
    label: grafana_datasource
    labelValue: "1"
    searchNamespace: monitoring-system
