# ----------------------------------------------------
# apiVersion and kind of Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring-system

resources:
- prometheus-alerts.yaml

generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: "1"
  annotations:
    grafana_dashboard_folder: "/dashboards/Docker Desktop Mixin"

configMapGenerator:
- name: docker.json
  files:
  - dashboards_out/docker.json
- name: docker-logs.json
  files:
  - dashboards_out/docker-logs.json
