# For more information on this configuration, see the complete reference guide at
# https://grafana.com/docs/tempo/latest/configuration/

stream_over_http_enabled: true

multitenancy_enabled: false
usage_report:
  reporting_enabled: false

compactor:
  compaction:
    block_retention: 1h

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  trace_idle_period: 10s
  max_block_bytes: 1_000_000
  max_block_duration: 5m

querier:
  frontend_worker:
    frontend_address: tempo:9095

metrics_generator:
  processor:
    span_metrics:
      # Configure extra dimensions to add as metric labels.
      dimensions:
      - http.method
      - http.target
      - http.status_code
      - service.version
    # Service graph metrics create node and edge metrics for determinng service interactions.
    service_graphs:
      # Configure extra dimensions to add as metric labels.
      dimensions:
      - http.method
      - http.target
      - http.status_code
      - service.version
  storage:
    path: /tmp/tempo/generator/wal
    remote_write_add_org_id_header: true
    remote_write:
    - url: http://nginx.gateway.svc.cluster.local:8080/api/v1/push
      send_exemplars: true
      send_native_histograms: true
      headers:
        X-Scope-OrgID: "anonymous"

server:
  http_listen_port: 3100
  grpc_listen_port: 9095

storage:
  trace:
    backend: s3
    wal:
      path: /tmp/tempo/wal
    s3:
      bucket: tempo-data
      endpoint: ${TEMPO_S3_ENDPOINT:-minio.minio-system.svc:443}
      access_key: ${TEMPO_S3_ACCESS_KEY:-lgtmp}
      secret_key: ${TEMPO_S3_SECRET_KEY:-supersecret}
      insecure: ${TEMPO_S3_INSECURE:-false}
      tls_insecure_skip_verify: true

# https://github.com/grafana/tempo/blob/main/docs/sources/tempo/configuration/_index.md#cache
cache:
  background:
    writeback_goroutines: 5
  caches:
  - roles:
    - bloom
    - parquet-footer
    - parquet-page
    - frontend-search
    - parquet-column-idx
    - parquet-offset-idx
    memcached:
      addresses: "dns+memcached.memcached-system.svc:11211"

overrides:
  per_tenant_override_config: /conf/overrides.yaml
  defaults:
    global:
      max_bytes_per_trace: 1500000
    metrics_generator:
      processors:
      - service-graphs
      - span-metrics
      remote_write_headers:
        X-Scope-OrgID: "anonymous"
