name: ci
on:
  push:
    branches: [main]
    paths:
    - 'monitoring-mixins/**'
    - '**.go'
    - go.mod
    - go.sum

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - name: Build binary
      run: make build