name: GoReleaser Publish Release

on:
  workflow_call:
    inputs:
      isPreRelease:
        required: true
        type: boolean
    secrets:
      ghPAT:
        required: true

jobs:
  publish_release:
    name: ${{ inputs.isPreRelease && 'prerelease' || 'release' }} publishing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v4.2.2
      - 
        name: Set variables
        id: vars
        run: |
          if [ -z "${GITHUB_REF_NAME}" ] || [ "${GITHUB_REF_TYPE}" != "tag" ] ; then
            echo "Expected a tag push event, skipping release workflow"
            exit 1
          fi

          # Example: tag_name       = 0.1.0-rc.4
          #  echo ${tag_name/-rc.*} = 0.1.0
          #  echo ${tag_name#*-}    = rc.4

          tag_name=${GITHUB_REF_NAME}
          echo "GORELEASER_CURRENT_TAG=v${tag_name}" >> $GITHUB_ENV
          echo "RELEASE_DESCRIPTION=${tag_name}" >> $GITHUB_ENV

          RELEASE_NOTES_FILE="docs/release_notes/${tag_name/-rc.*}.md"
          echo "RELEASE_NOTES_FILE=${RELEASE_NOTES_FILE}" >> $GITHUB_ENV
          if [ ! -f "${RELEASE_NOTES_FILE}" ]; then
              echo "Release notes ${RELEASE_NOTES_FILE} not found. Exiting..."
              exit 1
          fi

          echo "RELEASE_BUILD=1" >> $GITHUB_ENV
          # Update prerelease version to release-candidate
          echo "PRE_RELEASE_ID=${tag_name#*-}" >> $GITHUB_OUTPUT
          
          cat .github/.goreleaser.yml .github/.goreleaser.brew.yml > .github/.goreleaser.combined.yml
      - 
        name: GoReleaser Release
        if: ${{ !inputs.isPreRelease }}
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a #v6.4.0
        with:
          version: v2.12.7
          args: release --clean --timeout 60m --skip=validate --config=.github/.goreleaser.combined.yml --release-notes="${{env.RELEASE_NOTES_FILE}}"
        env:
          GITHUB_TOKEN: ${{ secrets.ghPAT }}
          PRE_RELEASE_ID: ''
      - 
        name: GoReleaser Release Candidate
        if: ${{ inputs.isPreRelease }}
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a #v6.4.0
        with:
          version: v2.12.7
          args: release --clean --timeout 60m --skip=validate --config=.github/.goreleaser.yml --release-notes="${{env.RELEASE_NOTES_FILE}}"
        env:
          GITHUB_TOKEN: ${{ secrets.ghPAT }}
          PRE_RELEASE_ID: ${{steps.vars.outputs.PRE_RELEASE_ID}}
