name: Trigger Release (Manually)

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_dispatchinputs
on:
  workflow_dispatch:
    inputs:
      release:
        description: 'Push tag and open PR to default branch'
        required: true
        default: 'prepare-release-candidate'
        type: choice
        options:
          - prepare-release
          - prepare-release-candidate

jobs:
  prepare_release:
    name: Trigger a ${{ inputs.release }} job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v4.2.2
        with:
          token: ${{ secrets.QCBOT_TOKEN }}
          # Set fetch-depth: 0 to fetch all history for all branches and tags.
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - name: Setup identity
        uses: ./.github/actions/setup-identity
        with:
          token: ${{ secrets.QCBOT_TOKEN }}

      - run: make ${{ inputs.release }}
