---
name: "Updatecli: Dependency Management"

on:
    workflow_dispatch:
    schedule:
      # * is a special character in YAML so you have to quote this string
      # Runs at 06 PM UTC
      - cron: '0 18 * * *'

env:
    UPDATECLI_CONFIG_DIR: "${{ github.workspace }}/.github/updatecli.d"

jobs:
    updateHelmCharts:
        name: Bump up helm chart dependencies
        runs-on: "ubuntu-latest"
        steps:
            - 
              name: Create Github App[bot] Token
              uses: actions/create-github-app-token@v2
              id: app-token
              with:
                app-id: ${{ vars.APP_ID }}
                private-key: ${{ secrets.PRIVATE_KEY }}
            - 
              name: Checkout
              uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 #v4.2.2
              with:
                persist-credentials: false
            - 
              name: Setup updatecli
              uses: updatecli/updatecli-action@v2
            - 
              name: Run Updatecli
              id: updatecli-apply
              run: |
                CHANGELOG=$(updatecli apply --config ${UPDATECLI_CONFIG_DIR}/kubernetes 2>&1)
                if ! git diff --exit-code > /dev/null; then
                  echo "changed=true" >> "${GITHUB_OUTPUT}"
                  echo "body<<EOF" >> ${GITHUB_OUTPUT}
                  # here we can place the command that will generate multi-line text
                  echo "${CHANGELOG}" | awk '/^SUMMARY:$/,0' >> "${GITHUB_OUTPUT}"
                  echo "EOF" >> ${GITHUB_OUTPUT}
                fi
            - 
              name: Create pull request
              if: steps.updatecli-apply.outputs.changed == 'true'
              uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 #v8.0.0
              with:
                token: ${{ steps.app-token.outputs.token }}
                title: "[kubernetes] Update Helm chart dependencies"
                commit-message: Update Helm chart dependencies
                committer: QC Owl App[bot] <165384878+qc-owl-app[bot]@users.noreply.github.com>
                signoff: true
                body: |
                   Update Helm chart dependencies

                  <details>
                  <summary> FULL SUMMARY CHANGELOG </summary>
                  <blockquote>

                  ${{ steps.updatecli-apply.outputs.body }}

                  </blockquote>
                  </details>
                  <br />

                  > Auto-generated by [.github/workflows/updatecli.yml][0]

                  [0]: https://github.com/qclaogui/codelab-monitoring/blob/main/.github/workflows/updatecli.yml
                labels: dependencies
                branch: update-helm-charts
                delete-branch: true

    updateDockerImages:
        name: Bump up docker image dependencies
        runs-on: "ubuntu-latest"
        steps:
            -
              name: Create Github App[bot] Token
              uses: actions/create-github-app-token@v2
              id: app-token
              with:
                app-id: ${{ vars.APP_ID }}
                private-key: ${{ secrets.PRIVATE_KEY }}
            - 
              name: Checkout
              uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 #v4.2.2
              with:
                persist-credentials: false
            - 
              name: Setup updatecli
              uses: updatecli/updatecli-action@v2
            - 
              name: Run Updatecli
              id: updatecli-apply
              run: |
                CHANGELOG=$(updatecli apply --config ${UPDATECLI_CONFIG_DIR}/docker-compose 2>&1)
                if ! git diff --exit-code > /dev/null; then
                  echo "changed=true" >> "${GITHUB_OUTPUT}"
                  echo "body<<EOF" >> ${GITHUB_OUTPUT}
                  # here we can place the command that will generate multi-line text
                  echo "${CHANGELOG}" | awk '/^SUMMARY:$/,0' >> "${GITHUB_OUTPUT}"
                  echo "EOF" >> ${GITHUB_OUTPUT}
                fi
            - 
              name: Create pull request
              if: steps.updatecli-apply.outputs.changed == 'true'
              uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 #v8.0.0
              with:
                token: ${{ steps.app-token.outputs.token }}
                title: "[docker-compose] Update Docker image dependencies"
                commit-message: Update Docker image dependencies
                committer: QC Owl App[bot] <165384878+qc-owl-app[bot]@users.noreply.github.com>
                signoff: true
                body: |
                   Update Docker image dependencies

                  <details>
                  <summary> FULL SUMMARY CHANGELOG </summary>
                  <blockquote>

                  ${{ steps.updatecli-apply.outputs.body }}

                  </blockquote>
                  </details>
                  <br />

                  > Auto-generated by [.github/workflows/updatecli.yml][0]

                  [0]: https://github.com/qclaogui/codelab-monitoring/blob/main/.github/workflows/updatecli.yml
                labels: dependencies
                branch: update-docker-images
                delete-branch: true
